.font-weight-bolder{
	font-size: 3rem;
}
.nav-link{
	color: black!important ;
}
.rounded-pill{
	background-color: #FB7E65;
}
.navbar-brand img{
	width:30px;
	height: 30px;
}
.navbar-brand {
	margin-left: 12px!important;
}
hr{
	display: none;
}
@media screen and (max-width: 768px){
	#content .row{
		text-align: center;
	}
	#content .row h1{
		font-size: 2rem;
	}
	hr{
		margin-top: 1rem;
		display: block;
	  	border: 0;
	  	border-top: 2px solid #8c8c8c;
	  	border-bottom: 2px solid #fff;
	  	width: 160px;
	}

}